<form action="/register" method="post">
    <h2>Create your account</h2>
    <ul style="list-style-type: none; padding-left: 0;">
        <li style="padding-bottom:1%;">
            <input type="text" id="user-name" name="username" placeholder="User name"/>
        </li>
        <li style="padding-bottom:1%;">
            <input type="email" id="e-mail" name="email" placeholder="Email adress"/>
        </li>
        <li>
            <input type="text" id="pass-word" name="password" placeholder="Password"/>
        </li>
    </ul>
    <div class="button">
        <button type="submit">Sign up</button>
    </div>
</form>
<p>Already have an account ?<strong><a href="/login"> Log In</a></strong></p>